<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>ZenType</title>
  <!-- favicon image, if exists -->
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <!-- Bootstrap & theme -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Angular & modules -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <!-- Angular-Bootstrap -->
  <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <!-- app scripts -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers.js"></script>
  <script src="/scripts/services.js"></script>
  <script src="/scripts/directives.js"></script>
</head>

<body ng-app="zentypeApp" ng-controller="MainCtrl">

  <!-- NAVIGATION -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

      <div class="navbar-header">
        <button type="button"
          class="navbar-toggle"
          ng-init="navCollapsed = true"
          ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">ZenType</a>
      </div>

      <div class="collapse navbar-collapse"
        ng-class="!navCollapsed && 'in'"
        ng-click="navCollapsed = true">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/speedtest">Typing Test</a></li>
          <li ng-show="auth"><a href="#/user">Account</a></li>
          <li ng-show="!auth"><a href="#/login">Log In</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- APP -->
  <div class="app-container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div ng-view></div>
  </div>

</body>
</html>
