/*MAIN CSS*/

/*for testing*/
* {
  /*border: 1px dotted green;*/
}

/*app styles*/
.app-container {
  margin-top: 100px;
}

/*nav styles*/
.nav-app-title {
  font-size: 22px;
}

/*homepage styles*/
.homepage-title {
  font-size: 70px;
}

/*speedtest styles*/
ul .speedtest-wordlist {
  list-style-type: none;
}

li .speedtest-word {
  display: inline-block;
}

