/*MAIN CSS*/

/*for testing*/
* {
  border: 1px dotted green;
}


/*css fix for ui.bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*css fix for bootstrap & ui.bootstrap nav collapse*/
div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 2000px;
}



/*app styles*/
.app-container {
  margin-top: 100px;
}

/*nav styles*/
.nav-app-title {
  font-size: 22px;
}

/*loadingscreen styles*/
h1.loading-screen-header {
  margin-top: 80px;
  font-size: 50px;
}

/*speedtest styles*/
span.speedtest-word {
  font-size: 32px;
}
span.speedtest-word.selected {
  color: orange;
}
span.speedtest-word.incorrect {
  color: red;
}
input#speedtest-type-field, div.speedtest-timer-container {
  font-size: 32px;
  height: 60px;
}
div.speedtest-timer-container {
  padding-top: 0;
  padding-left: 0;
}
span#speedtest-timer {
  position: relative;
  top: 6px;
  left: 12px;
}
h1.scorescreen-header {
  margin-top: 0;
  margin-bottom: 28px;
}
div.scorescreen-container span {
  font-size: 18px;
  margin-left: 6px;
  margin-right: 6px
}


/*dashboard styles*/
.dashboard-username-header {
  font-size: 62px;
  margin: 0 0 2px 0;
}
a.dashboard-logout-link:hover, a.dashboard-logout-link:focus {
  color: #67dcff;
  cursor: pointer;
}
table.dashboard-stats tbody tr td {
  /*font-size: 16px;*/
  padding-left: 14px;
  padding-right: 14px;
}
#wpm-graph {
  padding: 0;
}


/*login styles*/
p.login-signup-ask {
  margin-bottom: 0;
}







