
<!-- directives for challenges navigation -->

<zt-challenge-startscreen
  curr-loc="currLoc"
  word-difficulties="wordDifficulties"
  word-set="wordSet"
  test-details="testDetails"
  init-speedtest="initSpeedtest()"
  ng-show="currLoc === 'startscreen'">
</zt-challenge-startscreen>

<zt-challenge-loadingscreen
  curr-loc="currLoc"
  test-details="testDetails"
  ng-show="currLoc === 'loadingscreen'">
</zt-challenge-loadingscreen>

<zt-challenge-speedtest
  curr-loc="currLoc"
  word-set='wordSet'
  test-details="testDetails"
  ng-show="currLoc === 'speedtest'">
</zt-challenge-speedtest>

<zt-challenge-scorescreen
  curr-loc="currLoc"
  test-details="testDetails"
  ng-show="currLoc === 'scorescreen'">
</zt-challenge-scorescreen>
